@using Microsoft.AspNetCore.Http;


@model IEnumerable<sakuratest.Models.OrderList>

@{
    ViewData["Title"] = "Order List";
}

<h2>Order List</h2>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                No.
            </th>
            <th>
                Order No.
            </th>
            <th>
                Order Date
            </th>
            <th>
                Customer Name
            </th>
            <th>
                Ship Name
            </th>
            <th>
                Total Price
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            int i = 1;
            <tr>
                <td>
                    @i;
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @{
                        if (Context.Session.GetString("isAdmin") == "true")
                        {
                            <a asp-action="Edit" asp-route-id="@item.OrderId">Modify</a>
                            <a asp-action="Delete" asp-route-id="@item.OrderId"> Delete </a>
                        }
                        else
                        {
                            <a asp-action="Details" asp-route-id="@item.OrderId"> Details </a>
                        }
                    }
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>